body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.assign-role {
    float:left;
}

.search-hint {
    width:200px;    
}

#search {
    width:300px;
}

.aadpicker-search-results {
    width:300px;
    height:200px;
    overflow-y:scroll;
    overflow-x:hidden;
    white-space:nowrap;
}

.aadpicker-result-elem {
    cursor: pointer;
    background-color: white;
}

.aadpicker-result-selected {
    background-color: aqua;
}

.aadpicker-result-hovered {
    background-color: azure;
}

#assign-role {
    padding-bottom: 20px;
}

#assign-role-form {
    padding-right: 20px;
    display:inline-block;
    vertical-align:top;
}

#assign-role-search {

}

.assign-role-label {
    float:left;
    width:175px;
    text-align:right;
    padding-right: 10px;
}

#assign-role-select {

}

.search-results-label {
    width:inherit;
    text-align:center;
    border-bottom:solid;
    border-bottom-width:thin;
}

#search-results {
    display:inline-block;
}

.assign-role-row {
    padding-bottom:10px;
}

#submit-button {
    width:100px;
}

#assign-role-dropdown {
    width:100px;
}

.aadpicker-result-row {
    display:inline-block;
    width:inherit;
}

.aadpicker-result-type {
    text-align:right;
    display:inline-block;
    float:right;
}

.aadpicker-result-label {
    display:inline-block;
}

.ui-autocomplete {
    max-height:200px;
    overflow-y:scroll;
    overflow-x:hidden;
}