@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>Your current roles:</h3>
<ul>
    @foreach (string str in (List<string>)ViewData["myroles"])
    {
        <li>@str</li>
    }
</ul>
<h3>Your current groups:</h3>
<ul>
    @foreach (string str in (List<string>)ViewData["mygroups"])
    {
        <li>@str</li>
    }
</ul>

@if (ViewBag.ErrorMessage == "AuthorizationRequired")
{
    <p>You have to sign-in to see User Info. Click @Html.ActionLink("here", "About", "Home", new { reauth = true }, null) to sign-in.</p>
}